---
# mkdir
- name: Mkdir {{ un_install_dst_path }}
  become: true
  ansible.builtin.file:
    state: directory
    path: "{{ un_install_dst_path }}"
    mode: "{{ un_install_dst_mode }}"
    owner: "{{ un_install_user }}"
    group: "{{ un_install_user }}"

# install from git
# The repo name is not appended to this path and the destination directory must be empty. This parameter is required, unless clone is set to false.
- when: 
  - un_install_with_git_url != None
  - un_install_with_fs_src == None
  name: Git clone/pull {{ un_install_with_git_url }} to {{ un_install_dst_path }}
  become: true
  become_user: "{{ un_install_user }}"
  ansible.builtin.git:
    repo: "{{ un_install_with_git_url }}"
    dest: "{{ un_install_dst_path }}"
    remote: origin
    clone: true
    update: true # retrieve new revisions from the origin repository
    force: "{{ un_install_with_git_force }}"
    accept_hostkey: true

# install from fs
- when: 
  - un_install_with_fs_src != None
  - un_install_with_git_url == None
  block:

  - name: Create tmp dir "{{ un_install_with_fs_tmp }}"
    ansible.builtin.file:
      path: "{{ un_install_with_fs_tmp }}"
      mode: u=rwx,g=rwx,o=
      state: directory

  # sync to tmp
  - name: Sync "{{ un_install_with_fs_src }}" to "{{ un_install_with_fs_tmp }}"
    become: false
    delegate_to: localhost
    ansible.builtin.command: /usr/bin/rsync --recursive -e ssh {{ un_install_with_fs_src }}/ ansible@{{ inventory_hostname }}:{{ un_install_with_fs_tmp }}

  # copy to dst
  - name: Copy "{{ un_install_with_fs_tmp }}" to "{{ un_install_dst_path }}"
    become: true
    ansible.builtin.command:
      cmd: "cp --archive {{ un_install_with_fs_tmp }}/. {{ un_install_dst_path }}"

# exec
- block:

  # link
  - when: un_install_exec_link is not false
    name: Link {{ __un_install_path_exec }} to {{ un_install_exec_link }}
    become: true
    ansible.builtin.file:
      src: "{{ __un_install_path_exec }}" # Path of file to link to
      dest: "{{ un_install_exec_link }}" # Path to file being managed (/path/to/symlink)
      owner: "{{ un_install_user }}"
      group: "{{ un_install_user }}"
      state: link

  # chmod
  - name: Chmod {{ un_install_exec_mode }} {{ un_install_exec }}
    become: true
    ansible.builtin.file:
      path: "{{ un_install_dst_path }}/{{ un_install_exec }}"
      mode: "{{ un_install_exec_mode }}"

# env
- when: un_install_env != None
  name: Copy {{ un_install_env }}
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ un_install_app }}/{{ un_install_env }}"
    dest: "{{ un_install_dst_path }}/{{ un_install_env_dst }}"
    owner: "{{ un_install_user }}"
    group: "{{ un_install_user }}"
    mode: preserve

# desktop
- when: un_install_desktop != None
  name: Template desktop file {{ un_install_desktop }}
  become: true
  ansible.builtin.template:
    src: "{{ role_path }}/files/{{ un_install_app }}/{{ un_install_desktop }}"
    dest: "/usr/share/applications/{{ un_install_app }}.desktop"
    owner: root
    group: root
    mode: u=rw,g=,o=r # world readable